@media (min-width: 1480px){
    .content_container{
        /* max-width: 1366px; */
        max-width: 80%;
        margin: 0 auto;
    }

    .banner_area .banner_wave{
        position: absolute;
        bottom: -280px;
        left: 0;
        width: 80vw;
    }

    .main_navbar{
        max-width: 90%;
        margin: 0 auto;
    }

    .about_main_area{
        padding: 330px 0 220px;
    }

    .dodhia_past_events{
        max-width: 90%;
        margin-left: auto;
    }
}

@media (max-width: 1480px){
    .three_r_txt .bold_text_area h2:nth-child(2){
        text-align: unset;
        margin-left: 65px;
    }
}

@media(max-width: 991px){
    .petopoly_area{
        margin-left: unset;
        margin: 0 auto;
    }
}